/*
para hacer los 5 divs distribuidos como un numero 5
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#pantalla{
    margin: 2vh 2vw;
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
article{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
#fc{
    justify-content: center;
}

div{
    text-align: center;
    font-size: medium;
    color: rgb(0, 0, 0);
    width: 15vw;
    height: 15vh;
    background-color: rgb(17, 245, 20);
}
#c1{
background-color: aqua;
}
#c2{
    background-color: rgb(0, 104, 69);
}
#c3{
    background-color: rgb(247, 216, 176);
}
#c4{
    background-color: coral;
}
#c5{
    background-color: crimson;
}